In [18]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
titanic = pd.read_csv("C:\\Datasets\\titanic\\train.csv")
titanic.head()
# titanic[titanic.isnull()].any()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
# Data preparation
X = titanic.drop(columns=['Survived'])
y = titanic['Survived']

# X['Parch'].unique()

In [21]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, random_state=1, train_size = 0.8)

In [22]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
# preprocessing for numerical and categorical data
numerical_features = ['Age', 'Fare', 'SibSp', 'Parch']
categorical_features = ['Sex', 'Embarked']
# text_features = ['Name']


numerical_transformer = Pipeline(steps=[('imputer',SimpleImputer(strategy='median')), ('scaler',MinMaxScaler())])
categorical_transformer = Pipeline(steps=[('encoder',OneHotEncoder(handle_unknown='ignore',sparse_output=False))])
# text_transformer = Pipeline(steps=[('tfidf',TfidfVectorizer(stop_words="english"))])

# applying the preprocessing strategies to each columns
preprocessor = ColumnTransformer(transformers=[('numerical',numerical_transformer,numerical_features), 
                                               ('categorical',categorical_transformer,categorical_features)])

# ,('text',text_transformer,text_features)

# # Apply the preprocessor to the dataset

from sklearn.ensemble import RandomForestClassifier

model_pipeline = Pipeline(steps=[('preprocessor', preprocessor),('classifier', RandomForestClassifier(random_state=1))])

# Fit the model on the data (assuming X_train and y_train are prepared)
model_pipeline.fit(Xtrain, ytrain)

# predicting on the test data
y_pred = model_pipeline.predict(Xtest)

# Evaluate the model
from sklearn.metrics import accuracy_score, classification_report
print("Accuracy:", accuracy_score(ytest, y_pred))
print("\nClassification Report:\n", classification_report(ytest, y_pred))

# # extracting the important information from the name feature
# X['Title'] = X['Name'].str.extract(r',\s*([^\.]+)\.')
# X['Title'].value_counts()  # Check the extracted titles

# # dropping the name column
# X.drop(columns=['Name'], inplace=True)



# X_transformed = pd.DataFrame(X_transformed)
# X_transformed.head()

Accuracy: 0.7541899441340782

Classification Report:
               precision    recall  f1-score   support

           0       0.74      0.90      0.81       106
           1       0.78      0.55      0.65        73

    accuracy                           0.75       179
   macro avg       0.76      0.72      0.73       179
weighted avg       0.76      0.75      0.74       179